/*
    Author  : jaisharx <sendtojsharma@gmail.com>
    Date    : 08-07-2020
    Purpose : Importing all SASS Partials
*/


@import "base";
@import "typography";

@import "sidebar";
@import "header";
@import "realtors";
@import "features";
@import "story";
@import "homes";
@import "gallery";
@import "footer";